{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - About Flask

{% endblock %}


{% block content %}

    <section>
        <h2>What is Flask</h2>

        <p>Behind every man now alive stand thirty ghosts, for that is the ratio by which the dead outnumber the living. Men who believe that they are accomplishing something by speaking speak in a different way from men who believe that speaking is a waste of time.</p>
    </section>

{% endblock %}
