{% extends 'pages/base.jinja' %}

{% block title %}

    Flask Demo - Test Page

{% endblock %}


{% block content %}

    <section>
        <h2>Testing Flask and Jinja</h2>

        <p>Two possibilities exist: either we are alone in the Universe or we are not; both are equally terrifying. Yet across the gulf of space, minds that are to our minds as ours are to those of the beasts that perish, intellects vast and cool and unsympathetic, regarded this earth with envious eyes, and slowly and surely drew their plans against us.</p>
    </section>

{% endblock %}
